<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-12">
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        style="padding: 0"
      >
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <img src="{{ slide.img }}" alt="" width="100%" />
        </div>
      </ngx-slick-carousel>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card text-left">
        <div class="card-body">
          <h4 class="card-title">Happy NinJa</h4>
          <p class="card-text price">$18,00</p>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sint
            voluptas impedit odio non iusto molestias beatae fuga accusamus,
            libero facere ipsam nulla modi consectetur earum, ab explicabo
            molestiae veritatis.
          </p>
          <form [formGroup]="settingForm" class="input-group">
            <button
              class="btn btn-outline-secondary shadow-none"
              (click)="increment()"
            >
              +
            </button>
            <input
              min="1"
              max="5"
              type="text"
              formControlName="capacity"
              (keypress)="onlyNumber($event)"
            />
            <button
              class="btn btn-outline-secondary shadow-none"
              (click)="decrement()"
            >
              -
            </button>
            <button class="btn btn-small btn-danger shadow-none ml-3">
              Add to cart
            </button>
          </form>
        </div>
      </div>
      <p class="pt-2 ref">
        <mat-divider></mat-divider>

        Category: <span>Clothing</span>
      </p>
    </div>
  </div>
</div>
