<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-12">
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        *ngIf="ProductDetailList"
      >
        <div
          ngxSlickItem
          *ngFor="let slide of ProductDetailList.productImages"
          class="slide"
        >
          <img src="{{ slide.image }}" alt="" width="100%" />
        </div>
        <!-- <img src="{{ ProductDetailList.productImages[0] }}" alt="" /> -->
      </ngx-slick-carousel>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card text-left">
        <div class="card-body" *ngIf="ProductDetailList">
          <h4 class="card-title">{{ ProductDetailList.name }}</h4>
          <mat-divider class="divider"></mat-divider>
          <p class="card-text price">
            {{ ProductDetailList.price | currency: "$" }}
          </p>
          <p class="card-text">
            {{ ProductDetailList.description }}
          </p>
          <form [formGroup]="settingForm" class="input-group">
            <button
              class="btn btn-outline-secondary shadow-none increase"
              (click)="increment()"
            >
              +
            </button>
            <input
              type="text"
              formControlName="capacity"
              (keypress)="onlyNumber($event)"
            />
            <button
              class="btn btn-outline-secondary shadow-none decrease"
              (click)="decrement()"
            >
              -
            </button>
            <button
              (click)="addToCart(ProductDetailList)"
              [disabled]="ProductDetailList.quantities == 0"
              class="btn btn-small btn-danger shadow-none ml-3"
            >
              Add to cart
            </button>
            <span *ngIf="ProductDetailList.quantities == 0" class="text-danger"
              >Out of stock! please visit later.
            </span>
          </form>
        </div>
      </div>
      <p class="pt-2 ref">
        <mat-divider></mat-divider>
        Category:
        {{ ProductDetailList?.categories[0].name }}
      </p>
    </div>
  </div>
</div>
