<div class="row">
  <div
    class="col-md-4"
    *ngFor="let productItem of ProductItemList; let i = index"
  >
    <div class="card mb-4 box-shadow">
      <div class="card-img">
        <a
          [routerLink]="[productItem.id]"
          (mouseover)="productItem.isHover = true"
          (mouseout)="productItem.isHover = false"
        >
          <img
            [ngClass]="{ 'is-check': productItem.isHover }"
            class="card-img-top overflow-hidden"
            src="{{
              productItem.isHover
                ? productItem.productImages[0].image
                : productItem.productImages[1].image
            }}"
            alt="{{ productItem.name }}"
          />
        </a>
        <p class="card-img-header" (click)="openDialog(productItem.id)">
          quick view
        </p>
        <i class="far fa-heart"></i>
      </div>
      <div class="card-body">
        <h4 class="card-title">{{ productItem.category }}</h4>
        <a>
          <h3 class="card-text">{{ productItem.name }}</h3>
        </a>
        <h3 class="card-price">{{ productItem.price | currency: "$" }}</h3>
      </div>
    </div>
  </div>
</div>
